@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#menu{
    width: 100%;
    height: 10vh;
    background-color: #07090a8a;
    position: fixed;   
}

#menu-header{
    float: right;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 30px;
}

#menu-header span{
    color: white;
    font-size: 30px;
}

#menu-header span > a{
    color: white;
    text-decoration: none;
}

.row1{
    width: 100%;
    height: 100vh;
    background-color: #07090a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    width: 80%;   
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

h1.title{
    margin-bottom: 1%;
    font-size: 100px;
    font-weight: 900;
}

.image{
    background-image: url('/img/avatarios.png');
    color: black;
    box-shadow: 0px 0px 18px 18px #445266;
    background-repeat: no-repeat;
    background-size: cover;
    width: 700px;
    border-radius: 50%;
}

.image::before {
    content: '';
    display: block;
    padding-bottom: 100%;
}

div.social-media{
    display: flex;
    gap: 40px;
}

a.github{
    width: 50px;
    height: 50px;
    color: white;
    text-decoration: none;
    background-image: url('/img/githubicon.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 0px 14px 2px #445266;
    border-radius: 50%;
}


.description{
    color: white;
}

.description p.text{
    margin-bottom: 1%;
}

div.buttons{
    display: flex;
    gap: 40px;
    margin-bottom: 40px;
}

div.buttons a{
    color: white;
    text-decoration: none;
    border: solid 1px white;
    padding: 5px;
    border-radius: 6px;
}

div.buttons a:hover{
    background-color: #445266;
}

.row2{
    width: 100%;
    height: 100vh;
    background-color: #07090a;
}

.row3{
    width: 100%;
    height: 100vh;
    background-color: #07090a;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.box-form{
    width: 80%;   
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.box-form h1.contact{
    color: white;
    margin-bottom: 20px;
    font-size: 60px;
}

div.box-form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 45%;
}

div.box-form form > input{
    padding: 8px;
}

div.box-form form > input[type="submit"]{
    background-color: transparent;
    border: 1px solid white;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    width: 130px;
    display: block;
    margin: 0 auto;
}

div.box-form form > input[type="submit"]:hover{
    background-color: #445266;
    cursor: pointer;

}

#footer{
    width: 100%;
    height: 10vh;
    background-color: #000000;
}


